{
  "name": "semver-test",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "dependencies": {
    "semantic-release": "^17.0.4"
  },
  "devDependencies": {},
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/swathisa/semver-test.git"
  },
  "author": "",
  "license": "ISC",
  "bugs": {
    "url": "https://github.com/swathisa/semver-test/issues"
  },
  "homepage": "https://github.com/swathisa/semver-test#readme",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/exec", {
      "publishCmd" : "git push origin --tags"
      }]
  ]
}
